In [1]:
import pandas as pd
pop = pd.read_csv('Documents/data_pop_occupation.csv')
fat = pd.read_csv('Documents/occupational_fatalities_cleaned.csv')
pop['Occupation'] = pop['Occupation'].str.strip()
fat['Occupation'] = fat['Occupation'].str.strip()

In [2]:
df = fat.merge(pop, how = 'inner', left_on='Occupation', right_on='Occupation')

In [3]:
df.loc[df.loc[:,'variable'] == 'Total fatal injuries (number)',['variable']] = 'Total'

In [4]:
df.loc[df.loc[:,'variable'] == 'Violence and other injuries by persons or animals',['variable']] = 'Cut/Pierce'
df.loc[df.loc[:,'variable'] == 'Transportation incidents',['variable']] = 'Motor Vehicle Traffic'
df.loc[df.loc[:,'variable'] == 'Fires and explosions',['variable']] = 'Fire/Flame'
df.loc[df.loc[:,'variable'] == 'Falls, slips, trips',['variable']] = 'Fall'
df.loc[df.loc[:,'variable'] == 'Exposure to harmful substances or environments',['variable']] = 'Poisoning'
df.loc[df.loc[:,'variable'] == 'Contact with objects and equipment',['variable']] = 'Struck by or against'

In [5]:
df = df.rename(columns={"Occupation":"occupation","Hierarchy Levels":"hierarchy_level","variable": "mechanism_of_death", "value": "deaths"})

In [6]:
df

,occupation,hierarchy_level,mechanism_of_death,deaths,population
0,Total,0,Total,5250,"161,038"
1,Total,0,Cut/Pierce,828,"161,038"
2,Total,0,Motor Vehicle Traffic,2080,"161,038"
3,Total,0,Fire/Flame,115,"161,038"
4,Total,0,Fall,791,"161,038"
...,...,...,...,...,...
4153,Mine shuttle car operators,3,Fall,0,2
4154,Mine shuttle car operators,2,Poisoning,0,2
4155,Mine shuttle car operators,3,Poisoning,0,2
4156,Mine shuttle car operators,2,Struck by or against,0,2
4157,Mine shuttle car operators,3,Struck by or against,0,2

In [94]:
df.to_csv('occupational_hazards_data.csv', index = False)