## Version 1 of the Death Simulator front end via Jupyter Notebooks + ipywidgets + Binder

Reference: https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6

In [73]:
#THESE NEED TO BE IN THE REQUIREMENTS.TXT

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

import pandas as pd
import numpy as np
import placehold

In [4]:
#Column 6 has mixed types! deaths? population? Ignoring warning for now
df = pd.read_csv('../data/deaths_age_gender_race_mechanism_cause.csv')

/Users/Thomas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### The idea is to walk the user through selecting the parameters that define themself or their hypothetical person.
1. First we will ask for their exact date of birth (false precision, we will calc age off of that)
2. Then gender
    make sure to include unspecified
3. Then we will ask them to select their occupation from the list of occupations
4. Then race
--- False inputs ---
5. Regular exercise
6. BMI
7. Height + Weight
8. Are you a McDonalds regular?
9. Diabetic boolean

In [57]:
special = {'exercise': ['Daily','5 times a week','4 times a week','couple times a week', 'rarely', 'never'],
           'bmi': [18,19,20,21,22,23],
           'height': ['3ft something', '4ft something', '5ft something', '6ft something', '7ft something', '8ft something'],
           'weight': ['less than 150lbs', 'around 160lbs', 'around 170lbs', 'around 180lbs', 'around 190lbs', '200lbs or larger'],
           'diabetic': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
           'mcdonalds': ['Today', 'Yesterday', 'Recently', 'Last Month', 'Never', 'McDonalds?'],
           'new_gender': ['Female', 'Male', 'Unspecified', 'Non-Binary', 'Male', 'Male']
        }

s_df = pd.DataFrame(special, columns = ['exercise', 'bmi', 'height', 'weight', 'diabetic', 'mcdonalds', 'new_gender'])

In [58]:
s_df

,exercise,bmi,height,weight,diabetic,mcdonalds,new_gender
0,Daily,18,3ft something,less than 150lbs,Yes,Today,Female
1,5 times a week,19,4ft something,around 160lbs,No,Yesterday,Male
2,4 times a week,20,5ft something,around 170lbs,Yes,Recently,Unspecified
3,couple times a week,21,6ft something,around 180lbs,No,Last Month,Non-Binary
4,rarely,22,7ft something,around 190lbs,Yes,Never,Male
5,never,23,8ft something,200lbs or larger,No,McDonalds?,Male

In [75]:
placehold_s_df = placehold.fn_send_input_options()
placehold_s_df

,exercise,bmi,height,weight,diabetic,mcdonalds,new_gender
0,Daily,18,3ft something,less than 150lbs,Yes,Today,Female
1,5 times a week,19,4ft something,around 160lbs,No,Yesterday,Male
2,4 times a week,20,5ft something,around 170lbs,Yes,Recently,Unspecified
3,couple times a week,21,6ft something,around 180lbs,No,Last Month,Non-Binary
4,rarely,22,7ft something,around 190lbs,Yes,Never,Male
5,never,23,8ft something,200lbs or larger,No,McDonalds?,Male

In [76]:
s_df = placehold_s_df

Below is an example of ipywidgets interactive drop downs. I've intentionally made this example with a manual button.

Some ideas for UI:
1. Showing a live viz of the sim through your life, highlighting where you almost rolled a death!
2. Highlighting how you stack up in estimated lifespan as you select parameters
3. Storing for your viewing your previous simulation inputs and outputs
4. ONLY RUN ONCE, PRE-DEATH CERTIFICATE
    Limit based on name

TODO dev:
1. hardcoded parameter selectors INCLUDING OCCUPATION (or another interesting input)
2. Binder
3. Themes
3. import both sim modules; build these in to interact
    Does Binder allow you to run module functions outside of the notebook?
4. unit testing
5. git hub actions CI

1. send list to module with 4 params
2. Date, mechanism, cause come back as list or df
3. Interact manual button then generates Death Cert

In [77]:
@interact_manual
def collect_inputs_manual_gen(Race=df.race.unique(),
                              Age=df.age.unique(),
                              Gender=s_df.new_gender.unique(),
                             Exercise=s_df.exercise.unique(),
                             BMI=s_df.bmi.unique(),
                             Height=s_df.height.unique(),
                             Weight=s_df.weight.unique(),
                             McDonalds=s_df.mcdonalds.unique()):
    return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"

interactive(children=(Dropdown(description='Race', options=('American Indian or Alaska Native', 'Asian or Paci…

In [39]:

@interact
def show_deaths_more_than(column='deaths', x=5000):
    return df.loc[df[column] > x]

interactive(children=(Text(value='deaths', description='column'), IntSlider(value=5000, description='x', max=1…

In [6]:
df.head()

,age,gender,race,mechanism_of_death,cause_of_death,deaths,population
0,0,Female,American Indian or Alaska Native,Fire/Flame,Exposure to uncontrolled fire in building or s...,1,36615
1,0,Female,American Indian or Alaska Native,Motor Vehicle Traffic,Car occupant injured in collision with heavy t...,1,36615
2,0,Female,American Indian or Alaska Native,Motor Vehicle Traffic,Person injured in unspecified motor-vehicle ac...,1,36615
3,0,Female,American Indian or Alaska Native,Suffocation,Accidental suffocation and strangulation in bed,7,36615
4,0,Female,American Indian or Alaska Native,Suffocation,Unspecified threat to breathing,3,36615

In [10]:
df.race.unique()

array(['American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White'], dtype=object)

In [11]:
@interact_manual
def collect_inputs_manual_gen(row1=df.race.unique()):
    return "testing"

interactive(children=(Dropdown(description='row1', options=('American Indian or Alaska Native', 'Asian or Paci…

In [19]:
@interact_manual
def collect_inputs_manual_gen(Race=df.race.unique(),
                              Age=df.age.unique(),
                              Gender=df.gender.unique()):
    return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"

interactive(children=(Dropdown(description='Race', options=('American Indian or Alaska Native', 'Asian or Paci…