## Version 1 of the Death Simulator front end via Jupyter Notebooks + ipywidgets + Binder

Reference: https://towardsdatascience.com/interactive-controls-for-jupyter-notebooks-f5c94829aee6

In [1]:
#THESE NEED TO BE IN THE REQUIREMENTS.TXT

import ipywidgets as widgets
from ipywidgets import interact, interact_manual

import pandas as pd
import numpy as np
import placehold
import print_death_cert
input_options_dict = placehold.fn_send_input_options()

#import dict of input options from the backend python module

In [2]:
#TODO
#1. Function in backend that accepts the input list and returns the output list
#2. Unit test around this function to do validation
#3.

In [3]:
@interact_manual
def collect_inputs_manual_gen(Age=input_options_dict["age"],
                              Occupation=sorted(input_options_dict["occupation"]),
                              Gender=sorted(input_options_dict["new_gender"]),
                              Race=sorted(input_options_dict["race"]),
                              Exercise=sorted(input_options_dict["exercise"]),
                              BMI=sorted(input_options_dict["bmi"]),
                              Height=sorted(input_options_dict["height"]),
                              #be careful of how this is sorted
                              Weight=sorted(input_options_dict["weight"]),
                              McDonalds=sorted(input_options_dict["mcdonalds"])):
    #return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"
    return placehold.fn_send_output_string(input_options_dict)

interactive(children=(Dropdown(description='Age', options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1â€¦

In [79]:
#Column 6 has mixed types! deaths? population? Ignoring warning for now
df = pd.read_csv('../data/deaths_age_gender_race_mechanism_cause.csv')
occ_df = pd.read_csv('../data/job_indexed_likelihood.csv')

In [83]:
occ_df

                                        occupation  indexed_likelihood
0                   Farming, fishing, and forestry            5.589364
1                      Construction and extraction            3.254264
2               Transportation and material moving            3.115048
3                               Protective service            1.774433
4            Installation, maintenance, and repair            1.609229
5    Building and grounds cleaning and maintenance            1.422786
6                                       Management            0.888539
7   Arts, design, entertainment, sports, and media            0.572965
8                                       Production            0.557091
9                                Sales and related            0.358578
10              Life, physical, and social science            0.318405
11                                           Legal            0.260804
12                    Architecture and engineering            0.260127
13                       Personal care and service            0.207163
14                              Healthcare support            0.173515
15            Food preparation and serving related            0.171273
16          Healthcare practitioners and technical            0.167016
17               Business and financial operations            0.103528
18               Office and administrative support            0.070288
19                Education, training, and library            0.065500
20                       Computer and mathematical            0.060084

In [ ]:
occ_df   str.replace("occupations", "")

In [82]:
occ_df["occupation"] = occ_df.occupation.str.replace(" occupations", "")

In [ ]:
occ_df = occ_df.sorted()

### The idea is to walk the user through selecting the parameters that define themself or their hypothetical person.
1. First we will ask for their exact date of birth (false precision, we will calc age off of that)
2. Then gender
    make sure to include unspecified
3. Then we will ask them to select their occupation from the list of occupations
4. Then race
--- False inputs ---
5. Regular exercise
6. BMI
7. Height + Weight
8. Are you a McDonalds regular?
9. Diabetic boolean

In [57]:
special = {'exercise': ['Daily','5 times a week','4 times a week','couple times a week', 'rarely', 'never'],
           'bmi': [18,19,20,21,22,23],
           'height': ['3ft something', '4ft something', '5ft something', '6ft something', '7ft something', '8ft something'],
           'weight': ['less than 150lbs', 'around 160lbs', 'around 170lbs', 'around 180lbs', 'around 190lbs', '200lbs or larger'],
           'diabetic': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
           'mcdonalds': ['Today', 'Yesterday', 'Recently', 'Last Month', 'Never', 'McDonalds?'],
           'new_gender': ['Female', 'Male', 'Unspecified', 'Non-Binary', 'Male', 'Male']
        }

s_df = pd.DataFrame(special, columns = ['exercise', 'bmi', 'height', 'weight', 'diabetic', 'mcdonalds', 'new_gender'])

In [58]:
s_df

,exercise,bmi,height,weight,diabetic,mcdonalds,new_gender
0,Daily,18,3ft something,less than 150lbs,Yes,Today,Female
1,5 times a week,19,4ft something,around 160lbs,No,Yesterday,Male
2,4 times a week,20,5ft something,around 170lbs,Yes,Recently,Unspecified
3,couple times a week,21,6ft something,around 180lbs,No,Last Month,Non-Binary
4,rarely,22,7ft something,around 190lbs,Yes,Never,Male
5,never,23,8ft something,200lbs or larger,No,McDonalds?,Male

In [75]:
#placehold_s_df = placehold.fn_send_input_options()
#placehold_s_df

,exercise,bmi,height,weight,diabetic,mcdonalds,new_gender
0,Daily,18,3ft something,less than 150lbs,Yes,Today,Female
1,5 times a week,19,4ft something,around 160lbs,No,Yesterday,Male
2,4 times a week,20,5ft something,around 170lbs,Yes,Recently,Unspecified
3,couple times a week,21,6ft something,around 180lbs,No,Last Month,Non-Binary
4,rarely,22,7ft something,around 190lbs,Yes,Never,Male
5,never,23,8ft something,200lbs or larger,No,McDonalds?,Male

In [76]:
#s_df = placehold_s_df

In [3]:
input_options_dict

{'exercise': ['Daily',
  '5 times a week',
  '4 times a week',
  'couple times a week',
  'rarely',
  'never'],
 'bmi': [18, 19, 20, 21, 22, 23],
 'height': ['3ft something',
  '4ft something',
  '5ft something',
  '6ft something',
  '7ft something',
  '8ft something'],
 'weight': ['less than 150lbs',
  'around 160lbs',
  'around 170lbs',
  'around 180lbs',
  'around 190lbs',
  '200lbs or larger'],
 'diabetic': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
 'mcdonalds': ['Today',
  'Yesterday',
  'Recently',
  'Last Month',
  'Never',
  'McDonalds?'],
 'new_gender': ['Female', 'Male', 'Unspecified', 'Non-Binary', 'Male', 'Male'],
 'occupation': ['Farming, fishing, and forestry occupations',
  'Construction and extraction occupations',
  'Transportation and material moving occupations',
  'Protective service occupations',
  'Installation, maintenance, and repair occupations',
  'Building and grounds cleaning and maintenance occupations',
  'Management occupations',
  'Arts, design, entertainment, sports, and media occupations',
  'Production occupations',
  'Sales and related occupations',
  'Life, physical, and social science occupations',
  'Legal occupations',
  'Architecture and engineering occupations',
  'Personal care and service occupations',
  'Healthcare support occupations',
  'Food preparation and serving related occupations',
  'Healthcare practitioners and technical occupations',
  'Business and financial operations occupations',
  'Office and administrative support occupations',
  'Education, training, and library occupations',
  'Computer and mathematical occupations'],
 'age': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84],
 'race': ['American Indian or Alaska Native',
  'Asian or Pacific Islander',
  'Black or African American',
  'White']}

In [17]:
input_options_dict = placehold.fn_send_input_options()
@interact_manual
def collect_inputs_manual_gen(Age=input_options_dict["age"],
                              Occupation=sorted(input_options_dict["occupation"]),
                              Gender=sorted(input_options_dict["new_gender"]),
                              Race=sorted(input_options_dict["race"]),
                              Exercise=sorted(input_options_dict["exercise"]),
                              BMI=sorted(input_options_dict["bmi"]),
                              Height=sorted(input_options_dict["height"]),
                              #be careful of how this is sorted
                              Weight=sorted(input_options_dict["weight"]),
                              McDonalds=sorted(input_options_dict["mcdonalds"])):
    return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"

interactive(children=(Dropdown(description='Age', options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1â€¦

Below is an example of ipywidgets interactive drop downs. I've intentionally made this example with a manual button.

Some ideas for UI:
1. Showing a live viz of the sim through your life, highlighting where you almost rolled a death!
2. Highlighting how you stack up in estimated lifespan as you select parameters
3. Storing for your viewing your previous simulation inputs and outputs
4. ONLY RUN ONCE, PRE-DEATH CERTIFICATE
    Limit based on name

TODO dev:
1. hardcoded parameter selectors INCLUDING OCCUPATION (or another interesting input)
2. Binder
3. Themes
3. import both sim modules; build these in to interact
    Does Binder allow you to run module functions outside of the notebook?
4. unit testing
5. git hub actions CI

1. send list to module with 4 params
2. Date, mechanism, cause come back as list or df
3. Interact manual button then generates Death Cert

In [88]:
@interact_manual
def collect_inputs_manual_gen(Age=df.age.unique(),
                              Occupation=sorted(occ_df.occupation.unique()),
                              Gender=sorted(s_df.new_gender.unique()),
                             Race=sorted(df.race.unique()),
                             Exercise=sorted(s_df.exercise.unique()),
                             BMI=sorted(s_df.bmi.unique()),
                             Height=sorted(s_df.height.unique()),
                              #be careful of how this is sorted
                             Weight=sorted(s_df.weight.unique()),
                             McDonalds=sorted(s_df.mcdonalds.unique())):
    return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"

interactive(children=(Dropdown(description='Age', options=(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1â€¦

In [39]:

@interact
def show_deaths_more_than(column='deaths', x=5000):
    return df.loc[df[column] > x]

interactive(children=(Text(value='deaths', description='column'), IntSlider(value=5000, description='x', max=1â€¦

occ: 21
gender: 2
race: 4
age: 101

In [89]:
occ = occ_df.occupation

In [90]:
s = {'exercise': ['Daily','5 times a week','4 times a week','couple times a week', 'rarely', 'never'],
           'bmi': [18,19,20,21,22,23],
           'height': ['3ft something', '4ft something', '5ft something', '6ft something', '7ft something', '8ft something'],
           'weight': ['less than 150lbs', 'around 160lbs', 'around 170lbs', 'around 180lbs', 'around 190lbs', '200lbs or larger'],
           'diabetic': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
           'mcdonalds': ['Today', 'Yesterday', 'Recently', 'Last Month', 'Never', 'McDonalds?'],
           'new_gender': ['Female', 'Male', 'Unspecified', 'Non-Binary', 'Male', 'Male']
        }

In [94]:
s["occupation"] = list(occ_df.occupation.unique())

In [99]:
s

{'exercise': ['Daily',
  '5 times a week',
  '4 times a week',
  'couple times a week',
  'rarely',
  'never'],
 'bmi': [18, 19, 20, 21, 22, 23],
 'height': ['3ft something',
  '4ft something',
  '5ft something',
  '6ft something',
  '7ft something',
  '8ft something'],
 'weight': ['less than 150lbs',
  'around 160lbs',
  'around 170lbs',
  'around 180lbs',
  'around 190lbs',
  '200lbs or larger'],
 'diabetic': ['Yes', 'No', 'Yes', 'No', 'Yes', 'No'],
 'mcdonalds': ['Today',
  'Yesterday',
  'Recently',
  'Last Month',
  'Never',
  'McDonalds?'],
 'new_gender': ['Female', 'Male', 'Unspecified', 'Non-Binary', 'Male', 'Male'],
 'occupation': ['Farming, fishing, and forestry',
  'Construction and extraction',
  'Transportation and material moving',
  'Protective service',
  'Installation, maintenance, and repair',
  'Building and grounds cleaning and maintenance',
  'Management',
  'Arts, design, entertainment, sports, and media',
  'Production',
  'Sales and related',
  'Life, physical, and social science',
  'Legal',
  'Architecture and engineering',
  'Personal care and service',
  'Healthcare support',
  'Food preparation and serving related',
  'Healthcare practitioners and technical',
  'Business and financial operations',
  'Office and administrative support',
  'Education, training, and library',
  'Computer and mathematical'],
 'age': [0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84],
 'race': ['American Indian or Alaska Native',
  'Asian or Pacific Islander',
  'Black or African American',
  'White']}

In [96]:
s["age"] = list(df.age.unique())

In [98]:
s["race"] = list(df.race.unique())

In [6]:
df.head()

,age,gender,race,mechanism_of_death,cause_of_death,deaths,population
0,0,Female,American Indian or Alaska Native,Fire/Flame,Exposure to uncontrolled fire in building or s...,1,36615
1,0,Female,American Indian or Alaska Native,Motor Vehicle Traffic,Car occupant injured in collision with heavy t...,1,36615
2,0,Female,American Indian or Alaska Native,Motor Vehicle Traffic,Person injured in unspecified motor-vehicle ac...,1,36615
3,0,Female,American Indian or Alaska Native,Suffocation,Accidental suffocation and strangulation in bed,7,36615
4,0,Female,American Indian or Alaska Native,Suffocation,Unspecified threat to breathing,3,36615

In [10]:
df.race.unique()

array(['American Indian or Alaska Native', 'Asian or Pacific Islander',
       'Black or African American', 'White'], dtype=object)

In [11]:
@interact_manual
def collect_inputs_manual_gen(row1=df.race.unique()):
    return "testing"

interactive(children=(Dropdown(description='row1', options=('American Indian or Alaska Native', 'Asian or Paciâ€¦

In [19]:
@interact_manual
def collect_inputs_manual_gen(Race=df.race.unique(),
                              Age=df.age.unique(),
                              Gender=df.gender.unique()):
    return "You will die of Atherosclerotic heart disease at the age of 88 years old on May 20th, 2080"

interactive(children=(Dropdown(description='Race', options=('American Indian or Alaska Native', 'Asian or Paciâ€¦