# Probability Converter
This script converts the `occupational_fatalities.csv` dataset into an index of liklihoods to die by each profession, then joins on the `deaths_age_gender_race_mechanism_cause.csv` dataset by mechanism of death. Next, the full dataset is converted into daily probabilities of dying by age , gender, race, and occupation by means of modeling the daily probabilities via linear models connecting each age, in years.

In [95]:
import pandas as pd
import numpy as np

In [96]:
job_deaths = pd.read_csv("../data/occupational_fatalities.csv")

In [97]:
job_deaths.head()

,Occupation,Hierarchy Levels,variable,value
0,Total,0,Total fatal injuries (number),5250
1,Total,0,Transportation incidents,2080
2,Transportation and material moving occupations,0,Total fatal injuries (number),1443
3,Motor vehicle operators,1,Total fatal injuries (number),1044
4,Transportation and material moving occupations,0,Transportation incidents,1014

In [98]:
job_deaths.shape

(4361, 4)

Because there are 4 levels in the hierarchy and the user experience will be poor if they have to search through too many job titles to find something close to theirs (a mentally taxing task), selecting the right level is paramount. To aid in this selection, looking at the volume and degree of detail should help. Level 3 is the most detailed so we'll start there and work our way up:

In [99]:
job_deaths.Occupation[job_deaths['Hierarchy Levels']==3].value_counts()

 Insurance sales agents                                                       7
 Rotary drill operators, oil and gas                                          7
 Education administrators, postsecondary                                      7
 Pump operators, except wellhead pumpers                                      7
 Pipelayers                                                                   7
 Cashiers                                                                     7
 Wellhead pumpers                                                             7
 Floor sanders and finishers                                                  7
 Reinforcing iron and rebar workers                                           7
 Gaming managers                                                              7
 Cabinetmakers and bench carpenters                                           7
 Financial analysts                                                           7
 Animal trainers                                                              7
 Bus drivers, school or special client                                        7
 Shipping, receiving, and traffic clerks                                      7
 Secondary school teachers, except special and career/technical education     7
 Social and community service managers                                        7
 Pharmacy technicians                                                         7
 Information security analysts                                                7
 Mental health and substance abuse social workers                             7
 Furnace, kiln, oven, drier, and kettle operators and tenders                 7
 Combined food preparation and serving workers, including fast food           7
 Correctional officers and jailers                                            7
 Architectural and engineering managers                                       7
 Floor layers, except carpet, wood, and hard tiles                            7
 Machinists                                                                   7
 Electrical power-line installers and repairers                               7
 Dispatchers, except police, fire, and ambulance                              7
 Phlebotomists                                                                7
 First-line supervisors of non-retail sales workers                           7
                                                                             ..
 Farmers, ranchers, and other agricultural managers                           7
 Chemists                                                                     7
 Security guards                                                              7
 Helpers--roofers                                                             7
 Farmworkers, farm, ranch, and aquacultural animals                           7
 Compliance officers                                                          7
 Food preparation workers                                                     7
 Fallers                                                                      7
 Retail salespersons                                                          7
 Earth drillers, except oil and gas                                           7
 Mobile heavy equipment mechanics, except engines                             7
 Recreation workers                                                           7
 Industrial truck and tractor operators                                       7
 Millwrights                                                                  7
 Automotive body and related repairers                                        7
 Maintenance workers, machinery                                               7
 Outdoor power equipment and other small engine mechanics                     7
 Tile and marble setters                                                      7
 Sales managers                                                               7
 Taxi drivers and chauffeurs                                                  7
 Helpers--installation, maintenance, and repair workers                       7
 Ophthalmic medical technicians                                               7
 First-line supervisors of fire fighting and prevention workers               7
 Receptionists and information clerks                                         7
 Private detectives and investigators                                         7
 Fishers and related fishing workers                                          7
 First-line supervisors of food preparation and serving workers               7
 Interviewers, except eligibility and loan                                    7
 Chefs and head cooks                                                         7
 Elevator installers and repairers                                            7
Name: Occupation, Length: 275, dtype: int64

275 options is clearly too many.

In [100]:
job_deaths.Occupation[job_deaths['Hierarchy Levels']==2].value_counts()

 Heavy vehicle and mobile equipment service technicians and mechanics     7
 Miscellaneous motor vehicle operators                                    7
 Secondary school teachers                                                7
 Lodging managers                                                         7
 Reinforcing iron and rebar workers                                       7
 Real estate brokers and sales agents                                     7
 Helpers, construction trades                                             7
 Property, real estate, and community association managers                7
 Writers and editors                                                      7
 Biological scientists                                                    7
 Social and community service managers                                    7
 Food service managers                                                    7
 Miscellaneous computer occupations                                       7
 Power plant operators, distributors, and dispatchers                     7
 Miscellaneous sales and related workers                                  7
 Shipping, receiving, and traffic clerks                                  7
 Bailiffs, correctional officers, and jailers                             7
 Architectural and engineering managers                                   7
 Surveyors, cartographers, and photogrammetrists                          7
 Machinists                                                               7
 Crushing, grinding, polishing, mixing, and blending workers              7
 Broadcast and sound engineering technicians and radio operators          7
 Graders and sorters, agricultural products                               7
 Pumping station operators                                                7
 Gaming managers                                                          7
 Painting workers                                                         7
 Roustabouts, oil and gas                                                 7
 Private detectives and investigators                                     7
 Animal trainers                                                          7
 Cashiers                                                                 7
                                                                         ..
 Electrical, electronics, and electromechanical assemblers                7
 Waiters and waitresses                                                   7
 Dining room and cafeteria attendants and bartender helpers               7
 Explosives workers, ordnance handling experts, and blasters              7
 Miscellaneous first-line supervisors, protective service workers         7
 News analysts, reporters and correspondents                              7
 Earth drillers, except oil and gas                                       7
 Dispatchers                                                              7
 Therapists                                                               7
 Industrial truck and tractor operators                                   7
 First-line supervisors of construction trades and extraction workers     7
 Railroad conductors and yardmasters                                      7
 Carpet, floor, and tile installers and finishers                         7
 Woodworking machine setters, operators, and tenders                      7
 Locomotive engineers and operators                                       7
 Forming machine setters, operators, and tenders, metal and plastic       7
 Chief executives                                                         7
 Taxi drivers and chauffeurs                                              7
 Boilermakers                                                             7
 Automotive technicians and repairers                                     7
 First-line supervisors of fire fighting and prevention workers           7
 Aircraft pilots and flight engineers                                     7
 Receptionists and information clerks                                     7
 Fishers and related fishing workers                                      7
 First-line supervisors of food preparation and serving workers           7
 Interviewers, except eligibility and loan                                7
 Miscellaneous financial specialists                                      7
 Industrial production managers                                           7
 Recreation and fitness workers                                           7
 Elevator installers and repairers                                        7
Name: Occupation, Length: 237, dtype: int64

237 is still way too many.

In [101]:
job_deaths.Occupation[job_deaths['Hierarchy Levels']==1].value_counts()

 Supervisors of sales workers                                                       7
 Fire fighting and prevention workers                                               7
 Entertainers and performers, sports and related workers                            7
 Air transportation workers                                                         7
 Other transportation workers                                                       7
 Helpers, construction trades                                                       7
 Life, physical, and social science technicians                                     7
 Supervisors of construction and extraction workers                                 7
 Media and communication workers                                                    7
 Assemblers and fabricators                                                         7
 Material moving workers                                                            7
 Computer occupations                                                               7
 Financial specialists                                                              7
 Engineers                                                                          7
 Supervisors of installation, maintenance, and repair workers                       7
 Textile, apparel, and furnishings workers                                          7
 Other construction and related workers                                             7
 Nursing, psychiatric, and home health aides                                        7
 Fishing and hunting workers                                                        7
 Religious workers                                                                  7
 Supervisors of personal care and service workers                                   7
 Other production occupations                                                       7
 Financial clerks                                                                   7
 Funeral service workers                                                            7
 Law enforcement workers                                                            7
 Supervisors of protective service workers                                          7
 Health technologists and technicians                                               7
 Extraction workers                                                                 7
 Construction trades workers                                                        7
 Building cleaning and pest control workers                                         7
                                                                                   ..
 Other food preparation and serving related workers                                 7
 Top executives                                                                     7
 Sales representatives, wholesale and manufacturing                                 7
 Postsecondary teachers                                                             7
 Animal care and service workers                                                    7
 Architects, surveyors, and cartographers                                           7
 Other sales and related workers                                                    7
 Other education, training, and library occupations                                 7
 Metal workers and plastic workers                                                  7
 Other personal care and service workers                                            7
 Supervisors, transportation and material moving workers                            7
 Supervisors of building and grounds cleaning and maintenance workers               7
 Counselors, social workers, and other community and social service specialists     7
 Preschool, primary, secondary, and special education school teachers               7
 Electrical and electronic equipment mechanics, installers, and repairers           7
 Supervisors of farming, fishing, and forestry workers                              7
 Material recording, scheduling, dispatching, and distributing workers              7
 Other management occupations                                                       7
 Vehicle and mobile equipment mechanics, installers, and repairers                  7
 Secretaries and administrative assistants                                          7
 Business operations specialists                                                    7
 Media and communication equipment workers                                          7
 Lawyers, judges, and related workers                                               7
 Food and beverage serving workers                                                  7
 Agricultural workers                                                               7
 Other protective service workers                                                   7
 Plant and system operators                                                         7
 Physical scientists                                                                7
 Water transportation workers                                                       7
 Other installation, maintenance, and repair occupations                            7
Name: Occupation, Length: 87, dtype: int64

87 is getting more reasonable, but still annoying.

In [102]:
job_deaths.Occupation[job_deaths['Hierarchy Levels']==0].value_counts()

 Construction and extraction occupations                        7
 Management occupations                                         7
 Transportation and material moving occupations                 7
 Office and administrative support occupations                  7
 Military specific occupations(5)                               7
 Building and grounds cleaning and maintenance occupations      7
 Computer and mathematical occupations                          7
 Protective service occupations                                 7
 Education, training, and library occupations                   7
 Production occupations                                         7
 Food preparation and serving related occupations               7
 Business and financial operations occupations                  7
 Community and social services occupations                      7
 Personal care and service occupations                          7
 Healthcare support occupations                                 7
 Healthcare practitioners and technical occupations             7
 Architecture and engineering occupations                       7
 Sales and related occupations                                  7
 Farming, fishing, and forestry occupations                     7
 Life, physical, and social science occupations                 7
 Arts, design, entertainment, sports, and media occupations     7
 Legal occupations                                              7
 Installation, maintenance, and repair occupations              7
 Total                                                          7
Name: Occupation, dtype: int64

In [103]:
len(job_deaths.Occupation[job_deaths['Hierarchy Levels']==0].value_counts())

24

24 is totally reasonable. The overall impact this will have on likelihood to die will be extraordinarily small and it's mainly included to help the user feel like it's more personalized.  

In order to prep the data for joining, we'll need to remove the extraneous data and generate a probability based on the the volume of deaths per occupation and mechanism out of the total deaths by mechanism.

In [104]:
job_deaths = job_deaths[job_deaths['Hierarchy Levels']==0]

We'll want to remove the levels and clean the columns names:

In [105]:
del job_deaths['Hierarchy Levels']

In [106]:
job_deaths.columns = ['job','mechanism','deaths']

In [107]:
job_deaths

,job,mechanism,deaths
0,Total,Total fatal injuries (number),5250
1,Total,Transportation incidents,2080
2,Transportation and material moving occupations,Total fatal injuries (number),1443
4,Transportation and material moving occupations,Transportation incidents,1014
5,Construction and extraction occupations,Total fatal injuries (number),1003
8,Total,Violence and other injuries by persons or animals,828
10,Total,"Falls, slips, trips",791
11,Total,Contact with objects and equipment,786
15,Total,Exposure to harmful substances or environments,621
16,"Installation, maintenance, and repair occupat...",Total fatal injuries (number),420
17,Management occupations,Total fatal injuries (number),387
18,Building and grounds cleaning and maintenance...,Total fatal injuries (number),350
19,Construction and extraction occupations,"Falls, slips, trips",339
22,Protective service occupations,Total fatal injuries (number),270
23,"Farming, fishing, and forestry occupations",Total fatal injuries (number),262
29,Sales and related occupations,Total fatal injuries (number),241
30,Construction and extraction occupations,Transportation incidents,228
33,Production occupations,Total fatal injuries (number),225
35,Construction and extraction occupations,Contact with objects and equipment,187
36,Management occupations,Transportation incidents,159
39,Construction and extraction occupations,Exposure to harmful substances or environments,157
41,Transportation and material moving occupations,Contact with objects and equipment,145
49,Sales and related occupations,Violence and other injuries by persons or animals,129
55,Protective service occupations,Violence and other injuries by persons or animals,117
56,Total,Fires and explosions,115
57,"Installation, maintenance, and repair occupat...",Contact with objects and equipment,114
61,"Installation, maintenance, and repair occupat...",Transportation incidents,104
64,Transportation and material moving occupations,Exposure to harmful substances or environments,102
65,Food preparation and serving related occupati...,Total fatal injuries (number),100
66,"Farming, fishing, and forestry occupations",Transportation incidents,100
...,...,...,...
2564,Community and social services occupations,Fires and explosions,0
2573,Legal occupations,Fires and explosions,0
2580,"Education, training, and library occupations",Fires and explosions,0
2596,"Arts, design, entertainment, sports, and medi...",Fires and explosions,0
2626,Healthcare practitioners and technical occupa...,Fires and explosions,0
2673,Food preparation and serving related occupati...,Fires and explosions,0
2699,Building and grounds cleaning and maintenance...,Fires and explosions,0
2715,Personal care and service occupations,Fires and explosions,0
2763,Office and administrative support occupations,Fires and explosions,0
3012,Military specific occupations(5),Fires and explosions,0
3064,Computer and mathematical occupations,"Falls, slips, trips",0
3099,Community and social services occupations,"Falls, slips, trips",0
3108,Legal occupations,"Falls, slips, trips",0
3457,Military specific occupations(5),"Falls, slips, trips",0
3517,Computer and mathematical occupations,Exposure to harmful substances or environments,0
3525,Architecture and engineering occupations,Exposure to harmful substances or environments,0
3542,"Life, physical, and social science occupations",Exposure to harmful substances or environments,0
3558,Community and social services occupations,Exposure to harmful substances or environments,0
3567,Legal occupations,Exposure to harmful substances or environments,0
3574,"Education, training, and library occupations",Exposure to harmful substances or environments,0
3964,Computer and mathematical occupations,Contact with objects and equipment,0
3972,Architecture and engineering occupations,Contact with objects and equipment,0
3989,"Life, physical, and social science occupations",Contact with objects and equipment,0
4005,Community and social services occupations,Contact with objects and equipment,0
4014,Legal occupations,Contact with objects and equipment,0
4021,"Education, training, and library occupations",Contact with objects and equipment,0
4037,"Arts, design, entertainment, sports, and medi...",Contact with objects and equipment,0
4084,Healthcare support occupations,Contact with objects and equipment,0
4117,Food preparation and serving related occupati...,Contact with objects and equipment,0
4360,Military specific occupations(5),Contact with objects and equipment,0

In [113]:
probs = []
for i in range(job_deaths.shape[0]):
    prob = job_deaths.deaths.iloc[i]/\
    job_deaths.deaths[(job_deaths.job == job_deaths.job.iloc[i]) & 
                      (job_deaths.mechanism == job_deaths.mechanism.iloc[i])]
    probs.append(prob)

In [124]:
job_deaths.deaths.iloc[i]/\
    job_deaths.deaths[(job_deaths.job == job_deaths.job.iloc[i]) & 
                      (job_deaths.mechanism == job_deaths.mechanism.iloc[i])]

4360   NaN
Name: deaths, dtype: float64

In [109]:
job_deaths['prob'] = probs

In [110]:
job_deaths

,job,mechanism,deaths,prob
0,Total,Total fatal injuries (number),5250,"0 1.0 Name: deaths, dtype: float64"
1,Total,Transportation incidents,2080,"1 1.0 Name: deaths, dtype: float64"
2,Transportation and material moving occupations,Total fatal injuries (number),1443,"2 1.0 Name: deaths, dtype: float64"
4,Transportation and material moving occupations,Transportation incidents,1014,"4 1.0 Name: deaths, dtype: float64"
5,Construction and extraction occupations,Total fatal injuries (number),1003,"5 1.0 Name: deaths, dtype: float64"
8,Total,Violence and other injuries by persons or animals,828,"8 1.0 Name: deaths, dtype: float64"
10,Total,"Falls, slips, trips",791,"10 1.0 Name: deaths, dtype: float64"
11,Total,Contact with objects and equipment,786,"11 1.0 Name: deaths, dtype: float64"
15,Total,Exposure to harmful substances or environments,621,"15 1.0 Name: deaths, dtype: float64"
16,"Installation, maintenance, and repair occupat...",Total fatal injuries (number),420,"16 1.0 Name: deaths, dtype: float64"
17,Management occupations,Total fatal injuries (number),387,"17 1.0 Name: deaths, dtype: float64"
18,Building and grounds cleaning and maintenance...,Total fatal injuries (number),350,"18 1.0 Name: deaths, dtype: float64"
19,Construction and extraction occupations,"Falls, slips, trips",339,"19 1.0 Name: deaths, dtype: float64"
22,Protective service occupations,Total fatal injuries (number),270,"22 1.0 Name: deaths, dtype: float64"
23,"Farming, fishing, and forestry occupations",Total fatal injuries (number),262,"23 1.0 Name: deaths, dtype: float64"
29,Sales and related occupations,Total fatal injuries (number),241,"29 1.0 Name: deaths, dtype: float64"
30,Construction and extraction occupations,Transportation incidents,228,"30 1.0 Name: deaths, dtype: float64"
33,Production occupations,Total fatal injuries (number),225,"33 1.0 Name: deaths, dtype: float64"
35,Construction and extraction occupations,Contact with objects and equipment,187,"35 1.0 Name: deaths, dtype: float64"
36,Management occupations,Transportation incidents,159,"36 1.0 Name: deaths, dtype: float64"
39,Construction and extraction occupations,Exposure to harmful substances or environments,157,"39 1.0 Name: deaths, dtype: float64"
41,Transportation and material moving occupations,Contact with objects and equipment,145,"41 1.0 Name: deaths, dtype: float64"
49,Sales and related occupations,Violence and other injuries by persons or animals,129,"49 1.0 Name: deaths, dtype: float64"
55,Protective service occupations,Violence and other injuries by persons or animals,117,"55 1.0 Name: deaths, dtype: float64"
56,Total,Fires and explosions,115,"56 1.0 Name: deaths, dtype: float64"
57,"Installation, maintenance, and repair occupat...",Contact with objects and equipment,114,"57 1.0 Name: deaths, dtype: float64"
61,"Installation, maintenance, and repair occupat...",Transportation incidents,104,"61 1.0 Name: deaths, dtype: float64"
64,Transportation and material moving occupations,Exposure to harmful substances or environments,102,"64 1.0 Name: deaths, dtype: float64"
65,Food preparation and serving related occupati...,Total fatal injuries (number),100,"65 1.0 Name: deaths, dtype: float64"
66,"Farming, fishing, and forestry occupations",Transportation incidents,100,"66 1.0 Name: deaths, dtype: float64"
...,...,...,...,...
2564,Community and social services occupations,Fires and explosions,0,"2564 NaN Name: deaths, dtype: float64"
2573,Legal occupations,Fires and explosions,0,"2573 NaN Name: deaths, dtype: float64"
2580,"Education, training, and library occupations",Fires and explosions,0,"2580 NaN Name: deaths, dtype: float64"
2596,"Arts, design, entertainment, sports, and medi...",Fires and explosions,0,"2596 NaN Name: deaths, dtype: float64"
2626,Healthcare practitioners and technical occupa...,Fires and explosions,0,"2626 NaN Name: deaths, dtype: float64"
2673,Food preparation and serving related occupati...,Fires and explosions,0,"2673 NaN Name: deaths, dtype: float64"
2699,Building and grounds cleaning and maintenance...,Fires and explosions,0,"2699 NaN Name: deaths, dtype: float64"
2715,Personal care and service occupations,Fires and explosions,0,"2715 NaN Name: deaths, dtype: float64"
2763,Office and administrative support occupations,Fires and explosions,0,"2763 NaN Name: deaths, dtype: float64"
3012,Military specific occupations(5),Fires and explosions,0,"3012 NaN Name: deaths, dtype: float64"
3064,Computer and mathematical occupations,"Falls, slips, trips",0,"3064 NaN Name: deaths, dtype: float64"
3099,Community and social services occupations,"Falls, slips, trips",0,"3099 NaN Name: deaths, dtype: float64"
3108,Legal occupations,"Falls, slips, trips",0,"3108 NaN Name: deaths, dtype: float64"
3457,Military specific occupations(5),"Falls, slips, trips",0,"3457 NaN Name: deaths, dtype: float64"
3517,Computer and mathematical occupations,Exposure to harmful substances or environments,0,"3517 NaN Name: deaths, dtype: float64"
3525,Architecture and engineering occupations,Exposure to harmful substances or environments,0,"3525 NaN Name: deaths, dtype: float64"
3542,"Life, physical, and social science occupations",Exposure to harmful substances or environments,0,"3542 NaN Name: deaths, dtype: float64"
3558,Community and social services occupations,Exposure to harmful substances or environments,0,"3558 NaN Name: deaths, dtype: float64"
3567,Legal occupations,Exposure to harmful substances or environments,0,"3567 NaN Name: deaths, dtype: float64"
3574,"Education, training, and library occupations",Exposure to harmful substances or environments,0,"3574 NaN Name: deaths, dtype: float64"
3964,Computer and mathematical occupations,Contact with objects and equipment,0,"3964 NaN Name: deaths, dtype: float64"
3972,Architecture and engineering occupations,Contact with objects and equipment,0,"3972 NaN Name: deaths, dtype: float64"
3989,"Life, physical, and social science occupations",Contact with objects and equipment,0,"3989 NaN Name: deaths, dtype: float64"
4005,Community and social services occupations,Contact with objects and equipment,0,"4005 NaN Name: deaths, dtype: float64"
4014,Legal occupations,Contact with objects and equipment,0,"4014 NaN Name: deaths, dtype: float64"
4021,"Education, training, and library occupations",Contact with objects and equipment,0,"4021 NaN Name: deaths, dtype: float64"
4037,"Arts, design, entertainment, sports, and medi...",Contact with objects and equipment,0,"4037 NaN Name: deaths, dtype: float64"
4084,Healthcare support occupations,Contact with objects and equipment,0,"4084 NaN Name: deaths, dtype: float64"
4117,Food preparation and serving related occupati...,Contact with objects and equipment,0,"4117 NaN Name: deaths, dtype: float64"
4360,Military specific occupations(5),Contact with objects and equipment,0,"4360 NaN Name: deaths, dtype: float64"